div.container {
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;

}

div.background {
  border: 5px 5px 5px 5px rgb(165, 105, 105);
  margin-top: 40%;
  position: absolute;
  right: 0px;
  left: 0px;
  overflow-x: hidden;
  box-shadow: rgb(204, 255, 85) 0px 0px 10px 15px;
  background-color: #F2CB07;
}

div.transbox {
  z-index: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url("/assets/images/layered-steps-haikei(1).png");
  background-image: url("/assets/images/low-poly-grid-haikei.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

div.transbox span {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  color: rgb(80, 38, 38);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.column {
  padding-left: 25px;
}

.lottie {
  margin-top: 40%;
  margin-right: 5px;
}

.backgroundLottie {
  background-image: url("/assets/images/low-poly-grid-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}



