@if (!isRendered) {
  <div class="backgroundLottie pr-2">
    <ng-lottie
      class="lottie d-flex justify-content-start pr-2"
      [options]="options"
      width="475px"
      height="480px"
      (loopComplete)="complited($event)"
    />
  </div>
}

@if (bookInfo$ | async; as bookInfo) {
  <img
    [src]="bookInfo.cover"
    alt=""
    (load)="load($event)"
    [ngStyle]="{ display: isRendered ? 'block' : 'none' }"
    style="overflow-y: hidden"
  />

  @if (isRendered) {

    <div class="background d-flex justify-content-center">
      <div class="transbox">
        <div class="col-12">
          <div class="row">
            <div class="col-6 column">
              <div class="row">
                <span>Epoka: {{ bookInfo.epochs }}</span>
              </div>
              <div class="row">
                <span>Gatunek: {{ bookInfo.genres }}</span>
              </div>
              <div class="row">
                <span>Rodzaj: {{ bookInfo.kinds }}</span>
              </div>
              <select class="form-select" label="Default select example" [formControl]="searchControlTitle" name="sort">
                <option selected value="Wybierz MP3">Wybierz MP3</option>
                @for (item of bookInfo.media; track item; let index = $index) {
                  <option value="{{item.url}}">MP3 #{{index+1}}</option>
                }
              </select>
              @if (bookInfo.media!.length > 0) {
                <div class="row">
                  <span
                    >MP3:
                    <a
                      href="{{ bookInfo.media![0].url }}"
                      target="_blank"
                      rel="noreferrer noopener"
                      style="text-decoration: none"
                      >Pobierz
                    </a></span
                  >
                </div>
              }
            </div>
            <div class="col-6">
              <div class="col d-flex align-items-baseline">
                <span>PDF:</span>
                @if (bookInfo$) {
                  <div>
                    <a
                      class="d-flkex align-self-baseline"
                      href="{{ bookInfo.pdf }}"
                      target="_blank"
                      rel="noreferrer noopener"
                      style="text-decoration: none; justify-items: center"
                    >
                      Pobierz
                    </a>
                  </div>
                }

                @if (!bookInfo$) {
                  <span>brak</span>
                }
              </div>
              <div class="row">
                <span
                  >Format txt:
                  <a href="{{ bookInfo.txt }}" target="_blank" rel="noreferrer noopener" style="text-decoration: none">
                    Pobierz
                  </a></span
                >
              </div>
              <div class="row">
                <span>&nbsp;</span>
              </div>
              <div class="row">
                <span>Czas całkowity:{{ bookInfo.audio_length }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
}
