<div class="container">
  @if (!isRendered) {
    <div class="d-flex align-content-center lottie_component">
      <ng-lottie [options]="options" width="475px" height="480px" (loopComplete)="complited($event)" />
    </div>
  }

  @if (bookInfo$ | async; as bookInfo) {
    <div class="row col">
      <div class="col-6">
        <img
          class="img"
          [src]="bookInfo.cover"
          alt=""
          (load)="load($event)"
          [ngStyle]="{ display: isRendered ? 'block' : 'none' }"
        />
      </div>
      <div class="col-6 book_info mt-2">
        <div class="box">
        <div class="d-flex justify-content-center title mb-2"><span>Informacje o książce</span></div>
        <!-- <div class="d-flex justify-content-center">
          <div class="stress_line"><p class="border_line"></p></div>
        </div> -->
        @if (isRendered) {
          
            <div class="row">
              <span>Epoka: {{ bookInfo.epochs }}</span>
            </div>
            <div class="row">
              <span>Gatunek: {{ bookInfo.genres }}</span>
            </div>
            <div class="row">
              <span>Rodzaj: {{ bookInfo.kinds }}</span>
            </div>
            <div class="row">
              <div class="d-flex align-items-baseline">
                <span>PDF: </span>
                @if (bookInfo.pdf) {
                  <div>
                    <span
                      ><a
                        class="d-flkex align-self-baseline"
                        href="{{ bookInfo.pdf }}"
                        target="_blank"
                        rel="noreferrer noopener"
                        style="text-decoration: none; justify-items: center"
                      >
                        Pobierz</a
                      ></span
                    >
                  </div>
                }
              </div>
              @if (!bookInfo$) {
                <span>brak</span>
              }
            </div>
            @if (bookInfo.txt) {
              <div class="row">
                <span
                  >Format txt:
                  <a
                    href="{{ bookInfo.txt }}"
                    class="d-flkex align-self-baseline"
                    target="_blank"
                    rel="noreferrer noopener"
                    style="text-decoration: none"
                  >
                    Pobierz
                  </a></span
                >
              </div>
            }
            <div class="row">
              <span>Darmowy audio book:</span>
            </div>
            <div class="col-8">
              <select class="form-select mt-1" [formControl]="searchControlTitle">
                <option selected value="Wybierz MP3">Wybierz MP3</option>
                @for (item of bookInfo.media; track item; let index = $index) {
                  <option value="{{ item.url }}">MP3 #{{ index + 1 }}</option>
                }
              </select>
            </div>
            <div class="row">
              <span>Czas całkowity:{{ bookInfo.audio_length }} </span>
            </div>
        }
      </div>
      </div>
      </div>
  }
</div>

@if (bookInfo$ | async) {
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
}
