.page-number {
  font-family: Roboto;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--unnamed-color-222222);
  text-align: center;
  cursor: pointer;
  padding: 5px 12px;
  align-items: center;

  .beforeTen {
    width: 12px;
    text-align: center;
  }
  .afterTen {
    width: 19px;
  }
}

.isActive {
    background-color: #ADFA25;
    color: var(--unnamed-color-ffffff);
    border-radius: 8px;
}

.page-number :hover:not(.isActive) {
  @extend .afterTen;
  @extend .beforeTen;
  background-color:#ADFA25;
  border-radius: 5px;
  font-size: 2rem;
}
