.paginator {
  position: fixed;
  bottom: 0;
  background-image: url("/assets/images/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  z-index: 1;
}

.marg{
  margin-top: 80px;
  padding-top: 80px;
}