<div class="d-flex justify-content-center" style="margin: 20px;">
  <mat-card
    class="example-card justify-content-center"
    style="width: 17rem; height: 23rem; align-items: center;background-color: #E3CD05;box-shadow: 5px 5px 5px #54231F; "
  >
    <mat-card-title style="text-align: center;font-size: 15px;">Pieśń II, 3 (Aequam memento rebus in arduis...)</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <img
      mat-card-image
      src="https://wolnelektury.pl/media/book/cover_api_thumb/20-000-mil-podmorskiej-zeglugi_EWKavch.jpg"
      style="width: 9rem; height: 12rem; align-items: center"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>Cena brutto:</p>
    </mat-card-content>
    <mat-card-actions class="justify-content-center">
      <button mat-raised-button class="m-1" color="primary">Koszyk</button>
      <button mat-raised-button class="m-1" color="accent">Info</button>
    </mat-card-actions>
  </mat-card>
</div>
