

.logoShopNavbar {
    margin-left: 60%;
    margin-right: 20%;
    margin-top:10px
}


.navbar-expand-lg {
    background-color: #E1C826!important;
    border: none !important;
    border-width:0!important;
    box-shadow: 6px 5px 5px 0px #A3FE49;
    position:fixed !important ;
    width:100%;
    z-index: 1;
    top: 3.4rem;
}

.navbar-expand-lg-filter {
    background-color: #E1C826!important;
    border: none !important;
    border-width:0!important;
    box-shadow: 6px 5px 5px 0px #A3FE49;
    width:100%;
}