@import 'bootstrap/scss/bootstrap';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

:root {
    /* Colors: */
    --mainOne-color-dce2f2: #dce2f2;
    --mainTwo-color-a2bddc: #a2bddc;
    --mainThree-color-f4f4fc: #f4f4fc;
    --boxShadowOne-color-a3bfd9: #a3bfd9;
    --boxShadowTwo-color-BDBBCF: #bdbbcf;
    --tableOne-color-ffffff: #ffffff;
    --tableTwo-color-d9def0: #d9def0;
    --tableThree-color-cfdae9: #cfdae9;
    --tableFour-color-edf1f7: #edf1f7;
    --tableTitle-color-7699bb: #7699bb;
  }
html, body { height: 100%}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
