<section class="container d-flex justify-content-center pt-2 pb-2">
  <div class="d-flex flex-row">
    <mat-icon
      class="arrow"
      (click)="moveBackwardPage()"
      fontIcon="chevron_left"
    ></mat-icon>
    <planet-paginator-page-number
    class="align-content-center"
        *ngFor="let page of pages"
        [isActive]="page === currentPage"
        [pageNumber]="page"
        (click)="changePage(page)"
      ></planet-paginator-page-number>
    <mat-icon (click)="moveForwardPage()" fontIcon="chevron_right"></mat-icon>
  </div>
</section>
